# Directories
.vs/
build

# Binaries
**/bin/
!vendor/premake/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Xcode files and folder
**.xcworkspace
**.xcodeproj

#macOS files
**.DS_Store

